@font-face {
    font-family: 'PACE';
    src: url('../fonts/pace-racing-car/PACE-Italic.woff2') format('woff2'),
        url('../fonts/pace-racing-car/PACE-Italic.woff') format('wotf'),
        url('../fonts/pace-racing-car/PACE-Italic.ttf') format('truetype'),
        url('../fonts/pace-racing-car/PACE-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofast';
    src: url('../fonts/sofast-racing-car/Sofast Regular/Sofast.woff2') format('woff2'),
        url('../fonts/sofast-racing-car/Sofast Regular/Sofast.woff') format('woff'),
        url('../fonts/sofast-racing-car/Sofast Regular/Sofast.ttf') format('truetype'),
        url('../fonts/sofast-racing-car/Sofast Regular/Sofast.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Impede a rolagem lateral */
}

:root {
    --fontNoCorpo: "Sofast";
    --titulos: 'PACE';
    --corDoTexto: #4B4B4B;
    --corDeFundo: #101010;
    --titulos-color: #fff;
    --border-color: #fff;
    --white-color: #fff;
    --black-color: #000000;
    --primary-color: #FFFF00;
}


.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
}
 
h1 {
  font-size: 62px;
}
 
h2 {
  font-size: 48px;
}
 
h3 {
  font-size: 36px;
}
 
h4 {
  font-size: 28px;
}
 
h5 {
  font-size: 24px;
}
 
h6 {
  font-size: 20px;
}
 
p {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  line-height: 24px;
}


hr {
    font-size: 20px;
    color: #fff;
}

header {
    position: absolute;
    /* header sobre o banner */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(8px);
    padding: 15px;

}

header .site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;


}

header .logo {
    width: 172px;
    height: 100px;
    text-indent: -9999px;
    margin: 5px 0;

}

.logo a {
    display: block;
    width: fit-content;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 153px;
    display: block;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu ul li {
    list-style: none;
    text-transform: uppercase;
    margin: 15px;
    color: #fff;
}

.menu ul li a {
    font-family: var(--fontNoCorpo);
    font-size: .8em;
    color: #fff;
    text-decoration: none;

}

.telefone a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--fontNoCorpo);
    color: #ffff;

}

.telefone span {
    background: #FFFF00;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    font-family: var(--fontNoCorpo);
    animation-duration: 2s;
    /* don't forget to set a duration!  */
}

.telefone span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: var(--primary-color);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: wave 1.5s infinite;
    z-index: 0;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

.banner {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;


}

.banner div img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slick-prev,
.slick-next {
    position: absolute;
    right: 44px;
    z-index: 100;
    border: none;
    width: 61px;
    height: 63px;
    backdrop-filter: blur(100px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 50% 50% 50% 50%;
    color: #fff;
    opacity: .50;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner .slick-prev::before,
.banner .slick-next::before {
    position: absolute;
    font-size: 53px;
    opacity: .50;
    color: #F27405;
}


.slick-prev {
    top: 86%;
    right: 120px;

}

.slick-next {
    top: 86%;

}

.slick-prev:before {
    content: "<";
}

.slick-next:before {
    content: ">";
}


.slick-dots {
    position: absolute;
    right: 5px;
    z-index: 100;
    top: 47%;
    opacity: .50;
    backdrop-filter: blur(8px);
}

.slick-dots li {
    margin: 0 0 20px;
    gap: 50px;
}


.slick-dots li.slick-active button {
    transform: scale(1.2); 
    
}


.slick-dots li button {
    border: none;
    background: rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 20pt;
}


.slick-dots li button:before {
    font-size: 28pt;
}



.servicos {
    padding: 50px 0;
    background-color: #1b1b1b;
    position: relative;
    z-index: 2;
}


.servicos .organiza {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    height: 442px;
    width: 106%;
}

.servicos .organiza .caixa {
    width: 408px;
    height: 430px;

}

.caixa>div {

    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    margin-bottom: 25px;
}

.caixa .inf {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black-color);
    padding: 42px 24px;
    text-align: center;
    font-size: 16px;
    height: 65%;
    color: #fff;

}

.linha {
    height: 1px;
    width: 100%;
    background: #fff;
}
span{
    width: 50px;
    height: 50px;
    
}

h4{
    top: 52%;
   color: #F27405;
}
.espaco{
    height: 125px;
    background-color: #1b1b1b;


}
.sobre{
  
    background-color: #1b1b1b;
    width: 100%;
}
.sobre .site{
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
}
.sobre .site div h2{
    margin: 0 0 14px;
    font-weight: 800;
    color: var(--titulos-color);
    text-transform: uppercase;
    font-family: var(--titulos);
}
.sobre .site div p{
    color: var(--titulos-color);
    font-size: 13pt;
}
.espacomin{
    height: 64px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 34px;
    text-transform: uppercase;
   
}
.text h3{
    -webkit-text-stroke: 1px var(--titulos-color);
    font-size: 35px;

    
}
a button{
    padding: 15px 53px;
    background-color: #F27405;
    color: var(--white-color);
    font-size: 24px;
    font-weight: 200;
}

 .img_circle{
    position: relative;
    left: -12%;
    z-index: 10;
    top: 75%;
    
}
.text_fundo{
    z-index: 9;
    opacity: 0.3;
    position: relative;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(to right, #222 0%, #fff 50%, #222 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
   
}










/* h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

p {
    font-size: 1rem;
    color: #fff;
} 




 h6{
    font-size: 20px;
    
}

img {
    max-width: 100%;
    height: auto;
} */


