@font-face {
    font-family: 'PACE';
    src: url('../fonts/pace-racing-car/PACE-Italic.woff2') format('woff2'),
        url('../fonts/pace-racing-car/PACE-Italic.woff') format('wotf'),
        url('../fonts/pace-racing-car/PACE-Italic.ttf') format('truetype'),
        url('../fonts/pace-racing-car/PACE-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PACE Italic';
    src: url('../fonts/pace-racing-car/PACE-Italic.woff2') format('woff2'),
        url('../fonts/pace-racing-car/PACE-Italic.woff') format('woff'),
        url('../fonts/pace-racing-car/PACE-Italic.ttf') format('truetype'),
        url('../fonts/pace-racing-car/PACE-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sofast';
    src: url('../fonts/sofast-racing-car/Sofast Regular/Sofast.woff2') format('woff2'),
        url('../fonts/sofast-racing-car/Sofast Regular/Sofast.woff') format('woff'),
        url('../fonts/sofast-racing-car/Sofast Regular/Sofast.ttf') format('truetype'),
        url('../fonts/sofast-racing-car/Sofast Regular/Sofast.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Impede a rolagem lateral */
    font-family: var(--fontNoCorpo);
}

:root {
    --fontNoCorpo: "Sofast";
    --titulos: 'PACE';
    --corDoTexto: #4B4B4B;
    --corDeFundo: #101010;
    --titulos-color: #fff;
    --border-color: #fff;
    --white-color: #fff;
    --black-color: #000000;
    --primary-color: #FFFF00;
}


.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: var(--heading-color);
    font-family: var(--heading-font-family);
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    line-height: 24px;
}


hr {
    font-size: 20px;
    color: #fff;
}

a {
    text-decoration: none;
}

header {
    position: absolute;
    /* header sobre o banner */
    top: 0;
    left: 0;
    width: 97%;
    z-index: 10;
    backdrop-filter: blur(8px);
    padding: 15px;

}

header .site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;


}

header .logo {
    width: 172px;
    height: 100px;
    text-indent: -9999px;
    margin: 5px 0;

}

.logo a {
    display: block;
    width: fit-content;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 153px;
    display: block;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu ul li {
    list-style: none;
    text-transform: uppercase;
    margin: 15px;
    color: #fff;
}

.menu ul li a {
    font-family: var(--fontNoCorpo);
    font-size: .8em;
    color: #fff;
    text-decoration: none;

}

.telefone a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--fontNoCorpo);
    color: #ffff;

}

.telefone span {
    background-color: rgb(212, 130, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    font-family: var(--fontNoCorpo);
    animation-duration: 2s;
    /* don't forget to set a duration!  */
}

.telefone span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: var(--primary-color);
    border-radius: 50%;
    background-color: rgb(212, 130, 1);
    transform: translate(-50%, -50%) scale(0);
    animation: wave 1.5s infinite;
    z-index: 0;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

.banner {
    position: relative;

}

.banner .slide {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;


}



.banner .slide .slick-slide img {
    width: 100%;
    margin: 0;



    /* imagem não fica esticada */
}


.banner .slide .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.banner .slide .slick-list:focus {
    outline: none;
}


.banner .slide .slick-slide {
    float: left;
    height: 100%;
    display: block !important;
}





.banner .slide .slick-initialized .slick-slide {
    display: block !important;
}

.banner .slide .slick-loading .slick-slide {
    visibility: hidden;
}


.slick-prev,
.slick-next {
    font-size: 0;
    position: absolute;
    right: 44px;
    z-index: 100;
    border: none;
    width: 61px;
    height: 63px;
    backdrop-filter: blur(100px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 50% 50% 50% 50%;
    background-color: #FFFF00;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;




}

.banner div .slick-prev::before,
.banner div .slick-next::before {
    position: absolute;
    font-size: 53px;

}


.slick-prev {
    top: 86%;
    right: 120px;

}

.slick-next {
    top: 86%;


}

.slick-prev:before {
    content: "<";
}

.slick-next:before {
    content: ">";

}


.slick-dots {
    position: absolute;
    right: 5px;
    z-index: 100;
    top: 38%;
    opacity: .50;
    backdrop-filter: blur(8px);
    margin-right: 8px;

}

.slick-dots li {
    margin: 0 0 30px;

    gap: 50px;
    font-family: 'PACE Italic';
}


.slick-dots li.slick-active button {
    transform: scale(1.2);


}


.slick-dots li button {
    border: none;
    background: rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    font-size: 30px;
    opacity: 1;
    color: #FFFF00;
    font-family: 'PACE Italic';
}


.slick-dots li button:before {
    font-size: 28pt;
}

.texto_banner {
    align-items: center;
    justify-content: center;
    width: 8%;
    position: absolute;
    margin-left: 92px;
    z-index: 20;
    top: 470px;
}

.texto_banner h2 {
    font-size: 2em;
    color: var(--white-color);
    font-family: 'PACE Italic';
    margin-bottom: 10px;
}

.texto_banner p {
    font-size: 21px;
    color: var(--white-color);
    font-family: var(--fontNoCorpo);
}

.texto_banner a button {
    margin-top: 45px;
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--corDoTexto);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--fontNoCorpo);
    border: none;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: background-color 0.4s, transform 0.3s, color 0.3s;
    transform: translate3d(0, 0px, 0px);
}

.texto_banner a button:hover {
    transition: background-color 0.4s, transform 0.3s, color 0.3s;
    background-color: var(--corDoTexto);
    color: var(--primary-color);
    transform: translate3d(0px, -7px, 0.01px);
}

.banner {
    .banner-contato {
        position: absolute;
        width: 100%;
        left: 0;
        top: 160px;
        color: var(--titulos-color);
        display: flex;
        justify-content: center;
    }

    .banner-contato div {
        margin: 0 2%;
    }

    .banner-contato div a {
        display: flex;
        align-items: center;
    }

    .banner-contato span {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 55%;
        background-color: rgb(212, 130, 1);
        margin-right: 10px;
        cursor: pointer;
        z-index: 9;
        box-shadow: 0 0 0 5px rgba(212, 130, 1, 0.3),
            0 0 0 10px rgba(212, 130, 1, 0.1);
    }

    .banner-contato h6 {
        font-size: 9pt;
        text-decoration: none;
        color: var(--white-color);
        font-family: 'PACE Italic';
    }
}

.banner-rede-social {
    position: absolute;
    z-index: 11;
    width: 100px;
    color: var(--titulos-color);
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    top: 30%;

    .linha-horizontal {
        width: 1px;
        height: 85px;
        background: rgb(212, 130, 1);
    }

    .social-text {
        transform: rotate(-90deg);
        color: #fff;
        font-family: Oxanium;
        font-size: .8em;
        font-weight: 400;
        margin-top: 40px;
        font-family: 'PACE Italic';
    }

    a svg path {
        fill: white;
        transition: fill 0.3s ease;
    }

    a:hover svg path {
        fill: #FFFF00;
    }

}



.servicos {
    padding: 50px 0;
    background-color: #1b1b1b;
    position: relative;
    z-index: 2;
}


.servicos .organiza {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    height: 442px;
    width: 106%;
}

.servicos .organiza .caixa {
    width: 408px;
    height: 430px;

}


.caixa>div {

    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    margin-bottom: 25px;
}

.caixa .inf {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black-color);
    padding: 42px 24px;
    text-align: center;
    font-size: 16px;
    height: 234px;
    color: #fff;

}

.caixa .numero_item h4 {
    font-size: 30px;
    padding-right: 15px;
    color: transparent;
    -webkit-text-stroke: 1px #FFFF00;
}

.caixa div h4 {
    color: var(--titulos-color);
    font-size: 13pt;
    margin-bottom: 10px;

}

.caixa div p {
    color: var(--titulos-color);
    font-size: 10pt;
    margin-bottom: 10px;

}


.destaque-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    padding: 45px 35px;
    text-align: center;
    font-size: 16px;
    height: 200px;





}

.destaque_icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(212, 130, 1);
    margin-right: 10px;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.destaque_icon span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: rgb(212, 130, 1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: wave 1.5s infinite;
    z-index: 0;
}





.linha {
    height: 1px;
    width: 100%;
    background: #fff;
}

span {
    width: 50px;
    height: 50px;

}

h4 {
    top: 52%;
    color: #F27405;
}

.espaco {
    height: 125px;
    background-color: #1b1b1b;


}

.escolha {

    background-color: #1b1b1b;
    width: 100%;
}

.escolha .site {
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
}

.escolha .site div h3 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    z-index: 10;
    position: relative;
    color: var(--primary-color);
    text-transform: uppercase;
    font-family: var(--titulos);
}

.escolha .site div p {
    font-family: var(--titulos-color);
    font-size: 20px;
    line-height: 1.5em;
    max-width: 600px;
    font-weight: 400;
    position: relative;
    z-index: 10;
    color: var(--white-color);
}

.escolha .site div .text {
    gap: 34px;

    h3 {
        font-size: 25px;
        font-family: var(--fontNoCorpo);
        color: transparent;
        -webkit-text-stroke: 1px var(--primary-color);
        transition: all 0.3s;
        cursor: pointer;
        letter-spacing: .2em;
    }

    h3:hover {
        -webkit-text-stroke: 1px var(--titulos-color);
    }
}

.espacomin {
    height: 64px;
}


a button {
    padding: 15px 53px;
    background-color: var(--primary-color);
    color: #D48201;
    font-size: 24px;
    font-weight: 200;

}

.escolha .site a button:hover {
    transition: background-color 0.4s, transform 0.3s, color 0.3s;
    background-color: #D48201;
    color: var(--white-color);
    transform: translate3d(0px, -7px, 0.01px);

}


.img_circle {
    position: relative;
    left: -12%;
    z-index: 10;
    top: 75%;

}

.text_fundo {
    z-index: 9;
    opacity: 0.3;
    position: absolute;
    text-align: center;
    font-family: var(--titulos);
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline;
    background: linear-gradient(to right, #222 0%, #fff 50%, #222 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animaTextoFundo 2.5s infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgba(46, 46, 46, 0.7960784314);
    -ms-background-size: 200px 100%;
    background-size: 200px 100%;

}

@keyframes animaTextoFundo {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

.service {

    background-color: #1b1b1b;
    width: 100%;
}

.service .site {
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
}

.service .site>div {
    width: 72%;

}

.service .site div h2 {
    margin: 0 0 14px;
    font-weight: 800;
    color: var(--titulos-color);
    text-transform: uppercase;
    font-family: var(--titulos);
}
.service .site div p {
    margin-bottom: 35px;
    font-size: 16px;
    color: var(--white-color);
}
.service .site .espacomin {
    height: 40px;
}
.card {
    justify-content: space-between;
    gap: 26px;
    display: flex;
}
.card a {
    text-decoration: none;

}
.service .site a {
    text-decoration: none;
    color: var(--white-color);
}
.service .site div hr {
    width: 102px;
    height: 1px;
    position: absolute;
    background: red;
    border: 0;

}
.card a h3 {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 9px;
    font-family: var(--fontNoCorpo);
    color: var(--titulos-color);
    font-size: 23px;
}
.card a img {
    max-height: 290px;
    height: 99%;
}
.video {
    background-color: #1b1b1b;
    width: 100%;
    height: auto;

    video {
        width: 100%;

    }

}
.numeros {

    background-color: #1b1b1b;
    width: 100%;
}
.numeros .site {
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
}
.numeros .site>div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-transform: uppercase;

    h4 {
        -webkit-text-stroke: 1px var(--primary-color);
        border: 0;
        font-size: 48px;

        text-transform: uppercase;
    }

    p {
        color: var(--white-color);
        font-size: 20px;
    }
}
.logo_client {
    background-color: #1b1b1b;
    width: 100%;
}
.logo_client .site {
    width: 100%;
}
.logo_client h4 {
    text-align: center;
    padding: 0 0 70px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22pt;
}
.logo_client .clientes .slick-slide {
    margin: 0 20px;
    display: flex;
    justify-content: center;
}
.logo_client .clientes .slick-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    /* imagem não fica esticada */
}

.logo_client .clientes .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.logo_client .clientes .slick-list:focus {
    outline: none;
}

.logo_client .clientes .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: block !important;
}
.logo_client .clientes .slick-slide img {
    display: block;
    max-height: 100px;
}

.logo_client .clientes .slick-initialized .slick-slide {
    display: block !important;
}

.logo_client .clientes .slick-loading .slick-slide {
    visibility: hidden;
}

.ceo {
    background-color: #1b1b1b;
    width: 100%;
}

.ceo .site {
    width: 100%;
}

.ceo .site .item_titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.ceo .site .item_membs{
   background: rgba(255, 0, 0, 0.658);
}
.texto_ceo{
    display: flex;
}
.texto_ceo >div{
    width: 50%;
}
.primeira{
    position: absolute;
    margin-top: 35px;
    right: 221px;
    height: 56%
}
.segunda{
    position: relative;
    z-index: 10;
    right: 34px;
}

/* precisa ser terminado ainda */

.time_oficina{
    background-color: #1b1b1b;
    width: 100%;
}
.time_oficina .site >div{
   display: flex;
   justify-content: space-between;
}
.sessao_team{
    width: 31%;
    
}
.time{
    display: flex;
    gap: 22px;
    width: 64%;
}
.team div img{
    width: 99%;
    
}
div.time .team .inf{
    position: absolute;
    background: red;
    top: 18%;
}


















/* h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

p {
    font-size: 1rem;
    color: #fff;
} 




 h6{
    font-size: 20px;
    
}

img {
    max-width: 100%;
    height: auto;
} */