
# mecanismo de rescrita do apache 
RewriteEngine On

# Define o caminho base para todas as regras 
RewriteBase /kioficina/public/

RewriteCond %{REQUEST_FILENAME} !-f
# verificação de condições 
RewriteCond %{REQUEST_FILENAME} !-d
# ele defini as regras 
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
# ^(.*)$:É uma expressao regular que captura qualquer coisa após o dominio 